table, tr, td {
}

table {
  display: flex;
  height: 300px;
  width: 300px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

tr {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

td {
flex: 1;
line-height: 97px;
border-right: 1px solid black;
border-top: 1px solid black;
}


h3 {
  text-align: center;
}
